.counter-ul {
  display: block;
  padding: 20px 0px 20px 0px;
  display: table;
  width: 450px;
  margin-top: 15px;
  margin: 0 auto;
}

.counter-ul li{
  display: table-cell;
}

.counter-ul li span {
  font-size:2.2em;
  color: #000;
  font-weight: bold;
  display: block;
  margin: 0 auto;
  width: 70px;
  padding:8px;
  border-radius: 5px;
  text-align: center;
  box-shadow: 0px 0px 2px rgba(0,0,0, .6);
  background: #e9e9e9; /* Old browsers */
  background: -moz-linear-gradient(top,  #e9e9e9 0%, #d6d6d6 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(top,  #e9e9e9 0%,#d6d6d6 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom,  #e9e9e9 0%,#d6d6d6 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e9e9e9', endColorstr='#d6d6d6',GradientType=0 ); /* IE6-9 */
}

.counter-ul .days-title:after{
  content: 'Days';
  display: block;
  text-align: center;
  font-size: 1em;
  color: #000;
  padding-top:10px;
}

.counter-ul .hours-title:after{
  content: 'Hours';
  display: block;
  text-align: center;
  font-size: 1em;
  color: #000;
  padding-top:10px;
}

.counter-ul .minutes-title:after{
  content: 'Minutes';
  display: block;
  text-align: center;
  font-size: 1em;
  color: #000;
  padding-top:10px;
}

.counter-ul .seconds-title:after{
  content: 'Seconds';
  display: block;
  text-align: center;
  font-size: 1em;
  color: #000;
  padding-top:10px;
}

@media (max-width:991px) {
  .counter-ul {
    width: 100%;
  }
}
